/* WEBSITE BACKGROUND */

body{
    background-image: url("../picture/langit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    font-family: "Open Sans", sans-serif;
    color: #333;
}

/* ==============================
    NAVBAR (HEADER)
================================= */

header{
    background: #0A1172;
    padding: 20px 60px;

    display: flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width: 100px;
    height: auto;
    display: block;
}

nav ul{
    list-style: none;
    display:flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight:600;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #4da6ff;
}

/* ==============================
    HOME PAGE
================================= */

.hero{
    min-height: 85vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding: 60px;

    width: 70%;
    margin: 50px auto;

    background: rgba(255,255,255,0.7);

    backdrop-filter: blur(8px);

    border-radius: 20px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

/* PROFILE IMAGE */
.hero-image img{
    width: 220px;
    height: 220px;

    border-radius: 50%;
    object-fit: cover;

    border: 5px solid #0A1172;

    margin-bottom: 20px;
}

/* TEXT */
.hero-text h1{
    font-size:42px;
    color: #0a1172;
}

.hero-text h2{
    color: #4da6ff;
    margin: 10px 0;
}

.hero-text p{
    max-width: 600px;
    margin: 15px auto;
    line-height: 1.6;
}

/* BUTTONS */
.btn{
    background: #0A1172;
    color:white;

    padding: 12px 20px;

    text-decoration: none;

    border-radius: 25px;

    margin-right: 10px;
}

.btn:hover{
    background: #4da6ff;
}

.btn-outline{
    border: 2px solid #0A1172;
    color: #0A1172;

    padding: 10px 18px;

    text-decoration: none;

    border-radius: 25px;
}

.btn-outline:hover{
    background: #0A1172;
    color:white;
}

/* ==============================
    ABOUT SECTION
================================= */

section{
    padding: 60px 10%;
}

/* ==============================
    FOOTER
================================= */

footer{
    background: #0A1172;
    color:white;
    text-align:center;
    padding: 20px;
}

/* ==============================
    RESPONSIVE
================================= */

@media (max-width: 768px){

    header{
        flex-direction: column;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .hero-image img{
        width: 180px;
        height: 180px;
    }

    .hero-text h1{
        font-size: 32px;
    }

}

/* ==============================
    ABOUT PAGE STYLE
================================= */

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    gap: 50px;

    width: 85%;
    margin: 50px auto;

    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(8px);

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

/* IMAGE */
.about-image img{
    width: 180px;
    height: 180px;

    border-radius: 50%;
    object-fit: cover;

    border: 4px solid #4DA6FF;
}

/* TEXT */
.about-text h1{
    font-size: 40px;
    color: #0A1172;
    margin-bottom: 15px;
}

.about-text p{
    line-height: 1.8;
    margin-bottom: 15px;
}

.about-text h3{
    color:darkblue;
    margin-top: 20px;
}

.about-text ul{
    margin-left: 20px;
    margin-top: 10px;
}

.about-text ul li{
    margin-bottom: 5px;
}

/* ==============================
    EDUCATION & ACTIVITIES
================================= */

.page-title{
    text-align:center;
    padding: 50px 10%;
}

.page-title h1{
    color:#0A1172;
    margin-bottom: 10px;
}

.page-title p{
    color:#0A1172;
}

/* TWO COLUMN LAYOUT */

.edu-activity{
    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:30px;

    padding:40px 10%;

    flex-wrap:wrap;
}

/* COLUMN */

.education-column,
.activities-column{

    flex: 1;

    min-width:300px;
}

.education-column h2,
.activities-column h2{

    text-align:center;

    color:white;

    margin-bottom: 20px;
}

/* CARD */

.education-card,
.activity-card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* GAMBAR SEKOLAH */
.education-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.school-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.school-logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.school-photo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.school-logo:hover,
.school-photo:hover{
    transform: scale(1.05);
}

.school-logo,
.school-photo{
    transition: 0.3s;
    cursor: pointer;
}

.education-card:hover,
.activity-card:hover{
    transform: translateY(-5px);
}

.education-card h3,
.activity-card h3{
    color:#0A1172;
    margin-bottom: 10px;
}    

.activity-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.activity-images{
    display: flex;
    align-items: center;
}

.activity-photo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.activity-photo:hover{
    transform: scale(1.05);
}

.activity-video video{
    width: 180px;
    height: 120px;
    border-radius: 10px;
}

/* ==============================
    SKILLS PAGE
================================= */

.skills-section{
    padding: 80px 10%;
    text-align: center;
}

.skills-section h1{
    font-size: 48px;
    color: #0A1172;
    margin-bottom: 50px;
}

.skills-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skills-box{
    background:white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.skills-box h2{
    text-align: center;
    color: #0a1172;
    margin-bottom: 20px;
}

.skills-box ul{
    padding-left: 20px;
}

.skills-box li{
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 1.6;
}

.skills-collage{
    text-align: center;
    margin-top: 40px;
}

.skills-collage img{
    width: 40%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* =====================
    EXPERIENCES PAGE
===================== */

.experiences-section{
    padding: 60px 80px;
    text-align: center;
}

.experiences-section h1{
    font-size: 40px;
    color: #0d1b4c;
    margin-bottom: 50px;
}

.experiences-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.experiences-card{
    width: 320px;
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.experiences-card:hover{
    transform: translateY(-5px);
}

.experiences-card h2{
    color: #0d1b4c;
    margin-bottom: 15px;
    font-size: 22px;
}

.experiences-card p{
    line-height: 1.8;
    color: #555;
}

.experience-photo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.experience-photo:hover{
    transform: scale(1.05);
}

/* =====================
    ACHIEVEMENTS PAGE
===================== */

.achievements-section{
    padding: 60px 80px;
    text-align: center;
}

.achievements-section h1{
    font-size: 40px;
    color: #0d1b4c;
    margin-bottom: 50px;
}

.achievements-container{
    display:flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.achievements-card{
    width: 320px;
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.achievements-card:hover{
    transform: translateY(-5px);
}

.achievements-photo{
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.achievements-photo:hover{
    transform: scale(1.05);
}

.achievements-card h2{
    color: #0d1b4c;
    margin-bottom: 15px;
    font-size: 22px;
}

.achievements-card p{
    line-height: 1.8;
    color: #555;
}

/* =====================
    CONTACT PAGE
====================== */

.contact-section{
    padding: 60px 80px;
    text-align: center;
}

.contact-section h1{
    font-size: 40px;
    color: #0d1b4c;
    margin-bottom: 50px;
}

.contact-container{
    display: flex;
    justify-content: center;
}

.contact-card{
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contact-card h2{
    color: #0d1b4c;
    margin-bottom: 20px;
}

.contact-card p{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.8;
}

.contact-form{
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contact-form h2{
    margin-bottom: 20px;
    color: #0d1b4c;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid blue;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
}

.contact-form button{
    background: #0d1b4c;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover{
    background:darkblue;
}

/* STUDENT PAGE */

.student-section{
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.student-section h1{
    margin-bottom: 25px;
    color:#0d1b4c;
}

.student-image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
}

.student-table{
    width: 100%;
    border-collapse: collapse;
}

.student-table td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* REFERENCE PAGE */

.reference-section{
    padding: 80px 20px;
    text-align: center;
}

.reference-section h1{
    color: #0A1172;
    font-size: 48px;
    margin-bottom: 40px;
}

.reference-card{
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.reference-card:hover{
    transform: translateY(-5px);
}

.reference-card h2{
    color: #0A1172;
    margin-bottom: 20px;
}

.reference-card p{
    margin: 10px 0;
    line-height: 1.6;
}

.personal-section{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}

.personal-info{
    flex: 1;
}

.about-video{
    flex-shrink: 0;
}

.resume-video{
    width: 180px;
    height: auto;
    border-radius: 15px;
}

.contact-card a{
    color: #0A1172;
    text-decoration: none;
    font-weight: bold;
}

.contact-card a:hover{
    color: #4DA6FF;
    text-decoration: underline;
}

.contact-card i{
    color: #0088cc;
    margin-right: 8px;
    font-size: 20px;
}

.telegram-link{
    display: inline-block;
    background-color:#0088cc;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.telegram-link:hover{
    background-color: #006699;
    transform: translateY(-2px);
}

.telegram-link i{
    margin-right: 8px;
    color: white;
}

.phone-link{
    color: #0A1172;
    text-decoration: none;
    font-weight: bold;
}

.phone-link:hover{
    color: #4DA6FF;
    text-decoration: underline;
}

.phone-link i{
    margin-right: 8px;
    color: #0A1172;
}